<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Statistics Dashboard</title>
</head>
<body>
    <h1>Welcome to the Delivery Statistics Dashboard</h1>

    <button onclick="window.location.href='/normal_vs_csection'">Normal vs C-section Deliveries</button>
    <button onclick="window.location.href='/state_csection'">State-wise C-section Deliveries</button>
    <button onclick="window.location.href='/hospital_csection'">Top Hospitals with More C-Section Deliveries</button>
    <button onclick="window.location.href='/season_csection'">C-Section Deliveries and Seasons</button>
    <button onclick="window.location.href='/second_child_normal_delivery'">2nd Child Normal Delivery if 1st was C-section</button>

</body>
</html>
